/*
    General
*/

* {
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.material-icons {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.vr {
    border-left: 1px solid darkgrey;
    margin: 0 11px 0 8px;
}

hr {
    margin: 20px 0;
}

.d-none {
    display: none;
}

table,
th,
td {
    border: 0px solid black;
}

tfoot > tr > td:not(:first-child) {
    border-top: 1px solid grey !important;
    text-align: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/*
    Navigation
*/
#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: white;
}

#navigation > .container {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#navigation.hidden {
    top: -100vh;
}

#navigation:not(.hidden) ~ #scorecard-container {
    max-height: calc(100vh - 40px); /* vh - (container padding) */
    overflow: hidden;
}

#navigation.open {
    animation-name: closeNavigation;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

#navigation.close {
    animation-name: closeNavigation;
    animation-duration: 0.5s;
}

@keyframes closeNavigation {
    0% {
        top: 0vh;
    }
    100% {
        top: -100vh;
    }
}

#navigation-handle {
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
}

#navigation-handle > span {
    background-color: white;
    border-radius: 0 0 50% 50%;
    padding: 5px 20px;
    text-align: center;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

#navigation-handle > span:hover,
#btn-close-nav:hover {
    background-color: #f5f5f5;
}

#btn-close-nav {
    margin-left: 100%;
    transform: translateX(-100%);
    padding: 10px;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

#game-settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

#rounds-input-group.hidden {
    display: none;
}

#btnStartNewGame {
    margin-top: 10px;
}

#previousGamesList {
    padding: 0;
    margin: 2px 10px;
}

#previousGamesList > li {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    list-style: none;
    margin: 10px 0;
}

#previousGamesList > li:nth-of-type(2n) {
    background-color: white;
}

#previousGamesList > li > b {
    margin: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
    Scorecard
*/
.scorecard {
    margin: 0 auto 55px;
    padding: 10px;
}

.card-header {
    margin: 0 auto;
}

.player-header,
.bonus-header {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    z-index: 100;
    background-color: white;
}

.player-header {
    text-align: center;
    min-width: 75px;
}

.bonus-header {
    width: 25px;
}

.dice-face {
    background-color: ghostwhite;
    min-width: 30px;
    min-height: 30px;
}

.score-input,
.bonus-input {
    display: block;
    background: none;
    border: 1px solid lightgrey;
    border-spacing: 0;
    margin: 0 auto;
    text-align: center;
}

.score-input {
    width: 50px;
}

.bonus-input {
    width: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
